# Arquivos de Ambiente e Credenciais
# ESSENCIAL: Nunca envie senhas, chaves de API ou outras informações
# sensíveis para o repositório.
.env

# Arquivos de Log
# São gerados durante a execução do script e não fazem parte do código-fonte.
Logs/
*.log

# Byte-compiled / Cache do Python
# Arquivos gerados automaticamente pelo Python para otimizar a execução.
# Eles são recriados sempre que necessário.
__pycache__/
*.pyc

# Diretórios de Ambiente Virtual
# Cada desenvolvedor deve criar e gerenciar seu próprio ambiente virtual.
.venv
venv/
env/
ENV/

# Arquivos e pastas de IDEs / Editores de Código
# Ignora configurações específicas do ambiente de desenvolvimento local.
.vscode/
.idea/